* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('Imagens/Tela-Inicial-Birds.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.press-enter {
    width: 60%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.press-enter img {
    width: 40%;
    height: auto;
}
